@model JordanSky.Entity.Mazr3a
@{
    ViewBag.Title = "New Farms";
    //Layout = "~/Views/Shared/_Layout1.cshtml";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="card">
    <section id="appointment" class="appointment section-bg">
        <div class="container" data-aos="fade-up">
            <br />
            <div class="section-title">
                <h2>New facility</h2>
            </div>

            <div class="php-email-form" data-aos="fade-up" data-aos-delay="100">
                
                @if (Model != null)
                {


                    <div class="row">

                        <div class="col-md-3 form-group">
                            <input type="text" class="form-control" id="txtName" placeholder="Name facility" required value="@Model.Name">
                        </div>
                        <div class="col-md-3 form-group mt-3 mt-md-0">
                            <input type="text" class="form-control" id="txtPrice" placeholder="Price" required value="@Model.Price">
                        </div>
                        <div class="col-md-3 form-group mt-3 mt-md-0">
                            <input type="text" class="form-control" id="txtLocation" placeholder="Location" required value="@Model.Location">
                        </div>
                        <div class="col-md-3 form-group mt-3 mt-md-0">

                            <input type="text" class="form-control" id="txtRef" value="@Model.Ref_No" disabled required>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4 form-group mt-3">
                            <select id="ddlCity" class="form-control">
                                @foreach (var item in ViewBag.City)
                                {
                                    <option value="@item.Id">@item.Name</option>
                                }
                            </select>
                        </div>
                        <div class="col-md-4 form-group mt-3">
                            <select id="ddlType" class="form-control">
                                @foreach (var item in ViewBag.Type)
                                {
                                    <option value="@item.Id">@item.Name</option>
                                }
                            </select>
                        </div>

                      

                        <div class="col-md-4 form-group mt-3">

                            <div class="form-group">

                                <div class="multiselect-native-select">
                                    <select class="form-control multiselect-select-all" id="check" multiple="multiple" data-fouc="">
                                        @foreach (var item in ViewBag.Cate)
                                        {
                                            <option value="@item.Id">@item.Name</option>}


                                    </select><div class="btn-group" style="width: 100%;"><button type="button" class="multiselect dropdown-toggle btn btn-light" data-toggle="dropdown" title="Cheese, Tomatoes, Mozzarella, Mushrooms" style="width: 100%; overflow: hidden; text-overflow: ellipsis;" aria-expanded="false"><span class="multiselect-selected-text">All selected (4)</span></button><div class="multiselect-container dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 36px, 0px);"><div class="multiselect-item dropdown-item form-check multiselect-all" tabindex="0"><label class="form-check-label"><input type="checkbox" value="multiselect-all">  Select all<span class="form-check-control-indicator"></span></label></div><div class="multiselect-item dropdown-item form-check active" tabindex="0"><label class="form-check-label"><input type="checkbox" value="cheese"> Cheese<span class="form-check-control-indicator"></span></label></div><div class="multiselect-item dropdown-item form-check active" tabindex="0"><label class="form-check-label"><input type="checkbox" value="tomatoes"> Tomatoes<span class="form-check-control-indicator"></span></label></div><div class="multiselect-item dropdown-item form-check active" tabindex="0"><label class="form-check-label"><input type="checkbox" value="mozarella"> Mozzarella<span class="form-check-control-indicator"></span></label></div><div class="multiselect-item dropdown-item form-check active" tabindex="0"><label class="form-check-label"><input type="checkbox" value="mushrooms"> Mushrooms<span class="form-check-control-indicator"></span></label></div></div></div>
                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="row">
                        <div class="col-md-3 form-group">
                            <input type="text" name="name" class="form-control" id="txtPeople" placeholder="Max People" required value="@Model.Max_people">
                        </div>
                        <div class="col-md-3 form-group mt-3 mt-md-0">
                            <input type="text" class="form-control" id="txtNoBedRoom" placeholder="Number of bedrooms" required value="@Model.No_bedroom">
                        </div>
                        <div class="col-md-3 form-group mt-3 mt-md-0">
                            <input type="text" name="name" class="form-control" id="txtBed" placeholder="Number of beds" required value="@Model.No_bed">
                        </div>
                        <div class="col-md-3 form-group mt-3 mt-md-0">
                            <input type="text" name="name" class="form-control" id="txtSpace" placeholder="Internal space" required value="@Model.Space">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 form-group">
                            <span>Internet service</span>
                            <select id="ddlIntrnet" class="form-control">
                                <option value="-1">Select .... </option>
                                <option value="نعم">Yes</option>
                                <option value="لا">No</option>
                            </select>
                        </div>
                        <div class="col-md-3 form-group">
                            <span>Swimming pool</span>
                            <select id="ddlpool" class="form-control">
                                <option value="-1">Select .... </option>
                                <option value="نعم">Yes</option>
                                <option value="لا">No</option>
                            </select>
                        </div>
                        <div class="col-md-3 form-group">
                            <span>Playground</span>
                            <select id="ddlPlayground" class="form-control">
                                <option value="-1">Select .... </option>
                                <option value="نعم">Yes</option>
                                <option value="لا">No</option>
                            </select>
                        </div>
                        <div class="col-md-3 form-group">
                            <span>Grill</span>
                            <select id="ddlGrill" class="form-control">
                                <option value="-1">Select .... </option>
                                <option value="نعم">Yes</option>
                                <option value="لا">No</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 form-group">
                            <span>Zarb</span>
                            <select id="ddlZarb" class="form-control">
                                <option value="-1">Select .... </option>
                                <option value="نعم">Yes</option>
                                <option value="لا">No</option>
                            </select>
                        </div>
                        <div class="col-md-3 form-group">
                            <span>Pool Heating</span>
                            <select id="ddlHeating" class="form-control">
                                <option value="-1">Select .... </option>
                                <option value="نعم">Yes</option>
                                <option value="لا">No</option>
                            </select>
                        </div>
                        <div class="col-md-3 form-group">
                            <span>AC</span>
                            <select id="ddlAC" class="form-control">
                                <option value="-1">Select .... </option>
                                <option value="نعم">Yes</option>
                                <option value="لا">No</option>
                            </select>
                        </div>
                        <div class="col-md-3 form-group">
                            <span>Children</span>
                            <select id="ddlChildren" class="form-control">
                                <option value="-1">Select .... </option>
                                <option value="نعم">Yes</option>
                                <option value="لا">No</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 form-group">
                            <span>Parking</span>
                            <select id="ddlParking" class="form-control">
                                <option value="-1">Select .... </option>
                                <option value="نعم">Yes</option>
                                <option value="لا">No</option>
                            </select>
                        </div>
                        <div class="col-md-3 form-group">
                            <span>View</span>
                            <select id="ddlView" class="form-control">
                                <option value="-1">Select .... </option>
                                <option value="نعم">Yes</option>
                                <option value="لا">No</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group mt-3">
                        <textarea class="form-control" id="txtDesc" name="message" rows="5" placeholder="Details">@Model.Description</textarea>
                    </div>

                    <div class="text-center"><button type="submit" id="btnSave" onclick="return btnSave(@Model.Id,'update')">Update</button></div>

                }
                // --------------Save Section---------------------------------
                else
                {

                    <div class="row">

                        <div class="col-md-3 form-group">
                            <input type="text" class="form-control" id="txtName" placeholder="Name facility" required>
                        </div>
                        <div class="col-md-3 form-group mt-3 mt-md-0">
                            <input type="text" class="form-control" id="txtPrice" placeholder="Price" required>
                        </div>
                        <div class="col-md-3 form-group mt-3 mt-md-0">
                            <input type="text" class="form-control" id="txtLocation" placeholder="Location" required>
                        </div>
                        <div class="col-md-3 form-group mt-3 mt-md-0">
                            <input type="text" class="form-control" id="txtRef" value="@ViewBag.RefNo" disabled required>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4 form-group mt-3">
                            <select id="ddlCity" class="form-control">
                                @foreach (var item in ViewBag.City)
                                {
                                    <option value="@item.Id">@item.Name</option>
                                }
                            </select>
                        </div>
                        <div class="col-md-4 form-group mt-3">
                            <select id="ddlType" class="form-control">
                                @foreach (var item in ViewBag.Type)
                                {
                                    <option value="@item.Id">@item.Name</option>
                                }
                            </select>
                        </div>
                        <div class="col-md-4 form-group mt-3">

                            <div class="form-group">

                                <div class="multiselect-native-select">
                                    <select class="form-control multiselect-select-all" id="check" multiple="multiple" data-fouc="">
                                        @foreach (var item in ViewBag.Cate)
                                        {
                                            <option value="@item.Id">@item.Name</option>}


                                    </select><div class="btn-group" style="width: 100%;"><button type="button" class="multiselect dropdown-toggle btn btn-light" data-toggle="dropdown" title="Cheese, Tomatoes, Mozzarella, Mushrooms" style="width: 100%; overflow: hidden; text-overflow: ellipsis;" aria-expanded="false"><span class="multiselect-selected-text">All selected (4)</span></button><div class="multiselect-container dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 36px, 0px);"><div class="multiselect-item dropdown-item form-check multiselect-all" tabindex="0"><label class="form-check-label"><input type="checkbox" value="multiselect-all">  Select all<span class="form-check-control-indicator"></span></label></div><div class="multiselect-item dropdown-item form-check active" tabindex="0"><label class="form-check-label"><input type="checkbox" value="cheese"> Cheese<span class="form-check-control-indicator"></span></label></div><div class="multiselect-item dropdown-item form-check active" tabindex="0"><label class="form-check-label"><input type="checkbox" value="tomatoes"> Tomatoes<span class="form-check-control-indicator"></span></label></div><div class="multiselect-item dropdown-item form-check active" tabindex="0"><label class="form-check-label"><input type="checkbox" value="mozarella"> Mozzarella<span class="form-check-control-indicator"></span></label></div><div class="multiselect-item dropdown-item form-check active" tabindex="0"><label class="form-check-label"><input type="checkbox" value="mushrooms"> Mushrooms<span class="form-check-control-indicator"></span></label></div></div></div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-3 form-group">
                            <input type="text" name="name" class="form-control" id="txtPeople" placeholder="Max People" required>
                        </div>
                        <div class="col-md-3 form-group mt-3 mt-md-0">
                            <input type="text" class="form-control" id="txtNoBedRoom" placeholder="Number of bedrooms" required>
                        </div>
                        <div class="col-md-3 form-group mt-3 mt-md-0">
                            <input type="text" name="name" class="form-control" id="txtBed" placeholder="Number of beds" required>
                        </div>
                        <div class="col-md-3 form-group mt-3 mt-md-0">
                            <input type="text" name="name" class="form-control" id="txtSpace" placeholder="Internal space" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 form-group">
                            <span>Internet service</span>
                            <select id="ddlIntrnet" class="form-control">
                                <option value="-1">Select .... </option>
                                <option value="نعم">Yes</option>
                                <option value="لا">No</option>
                            </select>
                        </div>
                        <div class="col-md-3 form-group">
                            <span>Swimming pool</span>
                            <select id="ddlpool" class="form-control">
                                <option value="-1">Select .... </option>
                                <option value="نعم">Yes</option>
                                <option value="لا">No</option>
                            </select>
                        </div>
                        <div class="col-md-3 form-group">
                            <span>Playground</span>
                            <select id="ddlPlayground" class="form-control">
                                <option value="-1">Select .... </option>
                                <option value="نعم">Yes</option>
                                <option value="لا">No</option>
                            </select>
                        </div>
                        <div class="col-md-3 form-group">
                            <span>Grill</span>
                            <select id="ddlGrill" class="form-control">
                                <option value="-1">Select .... </option>
                                <option value="نعم">Yes</option>
                                <option value="لا">No</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 form-group">
                            <span>Zarb</span>
                            <select id="ddlZarb" class="form-control">
                                <option value="-1">Select .... </option>
                                <option value="نعم">Yes</option>
                                <option value="لا">No</option>
                            </select>
                        </div>
                        <div class="col-md-3 form-group">
                            <span>Pool Heating</span>
                            <select id="ddlHeating" class="form-control">
                                <option value="-1">Select .... </option>
                                <option value="نعم">Yes</option>
                                <option value="لا">No</option>
                            </select>
                        </div>
                        <div class="col-md-3 form-group">
                            <span>AC</span>
                            <select id="ddlAC" class="form-control">
                                <option value="-1">Select .... </option>
                                <option value="نعم">Yes</option>
                                <option value="لا">No</option>
                            </select>
                        </div>
                        <div class="col-md-3 form-group">
                            <span>Children</span>
                            <select id="ddlChildren" class="form-control">
                                <option value="-1">Select .... </option>
                                <option value="نعم">Yes</option>
                                <option value="لا">No</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 form-group">
                            <span>Parking</span>
                            <select id="ddlParking" class="form-control">
                                <option value="-1">Select .... </option>
                                <option value="نعم">Yes</option>
                                <option value="لا">No</option>
                            </select>
                        </div>
                        <div class="col-md-3 form-group">
                            <span>View</span>
                            <select id="ddlView" class="form-control">
                                <option value="-1">Select .... </option>
                                <option value="نعم">Yes</option>
                                <option value="لا">No</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group mt-3">
                        <textarea class="form-control" id="txtDesc" name="message" rows="5" placeholder="Details"></textarea>
                    </div>
                    <div class="text-center"><button type="submit" id="btnSave" onclick="return btnSave('save','save')">Save</button></div>

                }
            </div>

        </div>
    </section>
    <br />
</div>
                      <script src="~/Script_website/Save_Facilty.js"></script>

                      <script src="~/Content/TempletAdmin/global_assets/js/plugins/ui/ripple.min.js"></script>
                      <!-- /core JS files -->
                      <!-- Theme JS files -->
                      <script src="~/Content/TempletAdmin/global_assets/js/plugins/forms/styling/uniform.min.js"></script>
                      <script src="~/Content/TempletAdmin/global_assets/js/plugins/notifications/pnotify.min.js"></script>
                      <script src="~/Content/TempletAdmin/global_assets/js/plugins/forms/selects/bootstrap_multiselect.js"></script>
                      <script src="~/Content/TempletAdmin/global_assets/js/demo_pages/form_multiselect.js"></script>
                      <!-- /theme JS files -->


                      @if (Model != null)
                      {
                          <script>
        debugger
$(document).ready(function () {
    $("#ddlCity").val(@Model.City_id)
        $("#ddlType").val(@Model.Type_Product_id)
        $("#ddlIntrnet").val("@Model.internet")
        $("#ddlpool").val("@Model.pool")
        $("#ddlPlayground").val("@Model.Playground")
        $("#ddlGrill").val("@Model.grill")
        $("#ddlZarb").val("@Model.Zarb")
        $("#ddlHeating").val("@Model.pool_heating")
        $("#ddlAC").val("@Model.AC")
        $("#ddlChildren").val("@Model.Children")
        $("#ddlParking").val("@Model.Parking")
    $("#ddlView").val("@Model.View")
  

    });
                          </script>
                      }

                      <script>
                          $(".btn-group").hide();


                      </script>
