
@{
    ViewBag.Title = "Packages";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="hero">
    <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

        <div class="carousel-inner" role="listbox">

            <!-- Slide 1 -->
            <div class="carousel-item active" style="background-image:url(../../Content/assets/img/slide/slide-1.jpg)">

                <div class="container">
                    <h2>مرحبا بك في  <span>سما الأردن</span></h2>
                    <h4>تجول في جميع أنحاء الأردن بأقل الاسعار</h4>
                    <h5>اقضي أجمل الأوقات برفقة العائلة</h5>


                </div>
            </div>
            <div class="carousel-item" style="background-image: url(../../Content/assets/img/slide/slide-2.jpg)">
                <div class="container">
                    <h2>الشاليهات</h2>
                    <h4>ابحث على افخم انواع الشاليهات الموجوده في الأردن</h4>
                    <h5>اقضي أجمل الأوقات برفقة الأصدقاء</h5>

                </div>
            </div>

            <!-- Slide 3 -->
            <div class="carousel-item" style="background-image: url(../../Content/assets/img/slide/slide-3.jpg)">
                <div class="container">
                    <h2>العروض</h2>
                    <h4>احصل على افضل العروض مع الترتيب الكامل لمسارك</h4>
                    <h5>ما تهكل الهم سما الاردن امنتلك كل احتياجات رحلتك بعرض واحد</h5>
                </div>
            </div>

        </div>
        <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon bi bi-chevron-left" aria-hidden="true"></span>
        </a>

        <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon bi bi-chevron-right" aria-hidden="true"></span>
        </a>

    </div>
</section>
<div class="container">
    <section id="appointment" class="appointment section-bg">
        <div class="container" data-aos="fade-up">
            <div class="section-title">
                <h2>حدد رحلتك</h2>
                <p>اختر ما يناسبك لتسهل عليك الإختيار</p>
            </div>
            <div class="php-email-form" data-aos="fade-up" data-aos-delay="100">
                <div class="row">
                    <div class="col-md-3 form-group mt-3">
                        <select id="ddlType" class="form-control">
                            <option value="-1">إختر النوع </option>
                            @foreach (var item in ViewBag.Type)
                            {
                                <option value="@item.Id">@item.Name</option>
                            }
                        </select>
                    </div>
                    <div class="col-md-3 form-group mt-3">
                        <select id="ddlTran" class="form-control">
                            <option value="-1">المواصلات </option>
                            <option value="1">مع مواصلات </option>
                            <option value="2">بدون موصلات </option>
                        </select>
                    </div>
                    <div class="col-md-3 form-group mt-3">
                        <select id="ddlRestu" class="form-control">
                            <option value="-1">وجبات الغذاء </option>
                            <option value="1">مع وجبات </option>
                            <option value="2">بدون وجبات </option>
                        </select>
                    </div>
                    <div class="col-md-3 form-group mt-3">
                        <select id="ddlRestu" class="form-control">
                            <option value="-1">المبيت</option>
                            <option value="1">مع مبيت </option>
                            <option value="2">بدون مبيت </option>
                        </select>
                    </div>
                </div>
                <div class="text-center"><button type="submit" onclick="btnSave()">ابحث</button></div>
            </div>
        </div>
    </section>
    <section id="doctors" class="doctors section-bg">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>خوض التجربة</h2>
            </div>

            <div class="row">
                @foreach (var item in ViewBag.xxx)
                {
                    <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                        <div class="member" data-aos="fade-up" data-aos-delay="100">
                            <div class="member-img">
                               
                                    <img src="~/Image_package/@item.Picture" class="card-img-top" alt="">
                            </div>
                            <div class="member-info">
                                <h3>@item.Name_Pakage</h3>
                                <h5>@item.No_Day</h5>
                                <h6>@item.StartDate</h6>
                                <span>ابتداء من @item.Price دينار</span>
                                <a class="btn btn-outline-dark" href="@Url.Action("DetailsPackages","Internal_Package",new {id= item.Id })">التفاصيل</a>
                            </div>
                        </div>
                    </div>
                }
            </div>

        </div>
    </section>
</div>

<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>

