@model IEnumerable<JordanSky.Entity.Message>

@{
    ViewBag.Title = "Inbox";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="card">
    <div class="card-header header-elements-inline">
        <h2 class="card-title">Inbox</h2>
        <div class="header-elements">
            <div class="list-icons">
                <a class="list-icons-item" data-action="collapse"></a>
            </div>

        </div>
    </div>
    <table class="table datatable-show-all">
        <thead>
            <tr>

                <th>Name</th>
                <th>Phone</th>
                <th>Subject</th>
                <th class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Phone</td>
                    <td>@item.Subject</td>
                    <td class="text-center">
                        <div class="list-icons">
                            <a href="@Url.Action("Details","Messages",new {id= item.Id })" class="btn btn-outline-dark" id=""><i class="text-blue-800 icon-bubbles position-left"></i></a>
                            |
                            <a href="@Url.Action("Edit","Messages",new {id= item.Id })" class="btn btn-outline-dark" id=""><i class="text-blue-800 icon-checkmark4 position-left"></i></a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
