@model IEnumerable<JordanSky.Entity.User>

@{
    ViewBag.Title = "Employee";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="card">
    <div class="card-header header-elements-inline">
        <h2 class="card-title">Employee</h2>
        <div class="header-elements">
            <div class="list-icons">
                <a class="list-icons-item" data-action="collapse"></a>
            </div>

        </div>
    </div>
    <table class="table datatable-show-all">
        <thead>
            <tr>

                <th>Name</th>
                <th>Username</th>
                <th>Password</th>
                <th class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>@item.Name</td>
                <td>@item.Username</td>
                <td>@item.Password</td>
                <td class="text-center">
                    <div class="list-icons">
                        <a class="btn btn-outline-dark" href="@Url.Action("Edit","Users",new {id= item.Id })"><i class="text-blue-800    icon-pencil5 position-left"></i></a>
                        |
                        <a class="btn btn-outline-dark" href="@Url.Action("Delete","Users",new {id= item.Id })"><i class="text-danger-800  icon-trash   position-left"></i></a>
                    </div>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>